.download_app {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-auto-rows: 4.3em;
    grid-gap: 1em;
    justify-content: start;
}

.download_app a {
    display: block;
    transition: transform 0.3s;
}

.download_app a:hover {
    transform: scale(1.025);
}

.download_app img {
    width: 100%;
    height: 100%;
}