.section {
    width: 100%;
    max-width: none;
    overflow: hidden;
    margin-bottom: 5em;
}

.lines_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-gap: 0.5em;
    transform: translate(-50%, -50%) rotate(-10deg);
}

.line {
    position: relative;
}

.line_list_wrapper {
    position: absolute;
}

.line_list {
    display: grid;
    height: 100%;
    grid-gap: 0.5em;
}

.line_list:nth-child(1),
.line_list:nth-child(3) {
    position: absolute;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-small);
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0.25em;
}

.copy {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: rgb(49, 64, 100, 0.5);
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 0.3em var(--secondary);
    padding: 0.25em;
}

.content {
    position: absolute;
    inset: 0;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding-top: 3em;
    z-index: 1;
}

@media screen and (min-width: 769px) {
    .section {
        height: 100vh;
    }

    .content {
        font-size: 1.25em;
    }

    /* direction */
    .line {
        width: 10em;
    }

    .lines_wrapper {
        height: 100%;
        grid-auto-flow: column;
        font-size: 2vw;
    }

    .line_list_wrapper {
        width: 100%;
    }

    .line:nth-child(even) .line_list_wrapper {
        --direction: 1;
    }

    .line_list {
        --direction: -1;
        grid-auto-flow: row;
        grid-auto-rows: 14em;
        animation: movingY 60s linear infinite;
    }

    .line:nth-child(even) .line_list {
        --direction: 1;
    }

    .line_list:nth-child(1) {
        top: calc(-100% - 0.5em);
    }
    .line_list:nth-child(3) {
        top: calc(100% + 0.5em);
    }
}

@media screen and (max-width: 768px) {
    .section {
        height: 70vh;
    }

    .content {
        font-size: 0.9em;
    }

    /* direction */
    .line {
        height: 10em;
    }

    .lines_wrapper {
        width: 100%;
        font-size: 2.5vh;
    }

    .line_list_wrapper {
        height: 100%;
    }

    .line_list {
        --direction: -1;
        grid-auto-flow: column;
        grid-auto-columns: 8em;
        animation: movingX 40s linear infinite;
    }

    .line:nth-child(even) .line_list {
        --direction: 1;
    }

    .line_list:nth-child(1) {
        top: 0;
        left: calc(-100% - 0.5em);
    }
    .line_list:nth-child(3) {
        top: 0;
        left: calc(100% + 0.5em);
    }
}

@media screen and (max-width: 550px) {
    .content {
        font-size: 0.75em;
    }
}


@keyframes movingX {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc((100% + 0.5em) * var(--direction)));
    }
}

@keyframes movingY {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc((100% + 0.5em) * var(--direction)));
    }
}
