.anim_block {
    opacity: 0;
}

.in_view {
    animation: inViewComponent 1s ease-out forwards;
}

@keyframes inViewComponent {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}