.about_section {
    display: grid;
    grid-gap: 4em;
}

.about {
    display: grid;
}

.media {
    position: relative;
    grid-area: img;
    background-color: var(--tertiary);
    border-radius: var(--border-radius-big);
    overflow: hidden;
}

.media iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.phone_overlay {
    position: absolute;
    top: 6em;
    left: calc(50% - 23em / 2);
    width: 23em;
    opacity: 0;
}

.phone_overlay img {
    width: 100%;
    height: auto;
}

.from_block {
    content: '';
    position: absolute;
    top: 48.3%;
    left: 8.6%;
    width: 83%;
    height: 8.8%;
    background-image: url(/images/home-page/phone-direction-from-tampa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 18% 50%;
    border-radius: 0.65em;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
}

.media > * {
    position: relative;
    z-index: 1;
}

.media[data-title='Choose a route and time']::before,
.media[data-title='Choose a route and time']::after {
    content: '';
    position: absolute;
    inset: 0;
}

.media[data-title='Choose a route and time']::before {
    background: url(/images/home-page/big-star.png) 0 0 no-repeat;
    background-size: 30%;
}

.headline {
    grid-area: headline;
}

.copy {
    grid-area: copy;
    font-size: 1.4em;
}

/* in view */
.in_view .phone_overlay {
    animation: fadeIn 1s ease-out 1.25s forwards, upAndDown 2s ease-in-out 2.25s alternate infinite;
}

.in_view .from_block {
    animation: fromAnim 0.2s ease-in 3s forwards;
}

@media screen and (min-width: 769px) {
    .about {
        grid-template-areas:
            'img headline'
            'img copy'
            'img .';
        grid-template-columns: 1fr 1fr;
        grid-gap: 3em 2em;
    }

    .about:nth-child(even) {
        grid-template-areas:
            'headline img'
            'copy img'
            '. img';
    }

    .media {
        aspect-ratio: 1/1.2;
    }

    .media[data-title='Choose a route and time']::after {
        background: url(/images/home-page/rings.png) 100% 100% no-repeat;
        background-size: 85%;
    }

    .headline {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 768px) {
    .about {
        grid-template-areas:
            'img'
            'headline'
            'copy';
        grid-gap: 2em;
    }

    .media {
        aspect-ratio: 1/0.85;
    }

    .media[data-title='Choose a route and time']::after {
        background: url(/images/home-page/rings.png) 100% 250% no-repeat;
        background-size: 85%;
    }

    .media.video {
        aspect-ratio: 16/9;
    }
}

@keyframes fromAnim {
    from {
        left: 8.6%;
        width: 83%;
        opacity: 0;
    }
    to {
        left: -2.5%;
        width: 105%;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes upAndDown {
    from {
        transform: translateY(0em);
    }
    to {
        transform: translateY(0.5em);
    }
}
