.select {
	cursor: pointer;
}

.options {
	position: absolute;
    top: calc(100% + 0.5em);
    left: 5%;
    display: grid;
    width: 100%;
    gap: 0.5em;
    background-color: #fff;
	color: rgb(64, 123, 255, 0.7);
    border: 1px solid rgb(64, 123, 255, 0.7);
    border-radius: var(--border-radius-small);
    padding: 1em;
	box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, .25);
    z-index: 9;
}

.option {
	padding: 0.5em 1em;
	cursor: pointer;
    background-color: rgb(64, 123, 255, 0.25);
    color: var(--secondary);
    border-radius: var(--border-radius-small);
    transition: all 0.3s;
}

.option:hover {
    background-color: rgb(64, 123, 255, 1);
    color: #fff;
}

.option.active {
	display: none;
}
