*:not(p) {
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--primary: #407bff;
	--secondary: #314064;
	--tertiary: #dce4f4;

	--border-radius-small: 0.5em;
	--border-radius-regular: 1em;
	--border-radius-big: 1.5em;
}

#__next {
	display: grid;
	min-height: 100vh;
	grid-template-rows: max-content 1fr max-content;
	grid-gap: 6em;
	padding-top: 2em;
}

#__next:has(div.loader-wrapper) {
	overflow: hidden;
}

#__next:has(div.loader-wrapper) > *:not(.loader-wrapper) {
	display: none;
}

#__next > *:not(.loader-wrapper) {
	opacity: 0;
	animation: fadeIn 0.5s forwards;
}

.loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-content: center;
	background-color: #fff;
}

.loader {
	display: grid;
    width: 9em;
	aspect-ratio: 3.15/1;
	grid-template-columns: 0.8em 3.33em 3.33em 0.8em;
    grid-gap: 0.5em;
}

.loader .logo_letter {
	animation: puls 2s calc(0.1s * var(--index)) infinite;
}

.loader .logo_letter[data-letter='i1'] {
	--index: 1;
	background: url(/images/logo-blue.png) 0 0 no-repeat;
	background-size: auto 100%;
}
.loader .logo_letter[data-letter='z1'] {
	--index: 2;
	background: url(/images/logo-blue.png) 18.5% 0 no-repeat;
	background-size: auto 100%;
}
.loader .logo_letter[data-letter='z2'] {
	--index: 3;
	background: url(/images/logo-blue.png) 81.5% 0 no-repeat;
	background-size: auto 100%;
}
.loader .logo_letter[data-letter='i2'] {
	--index: 4;
	background: url(/images/logo-blue.png) 0 0 no-repeat;
	background-size: auto 100%;
}

@keyframes puls {
	0%, 20%, 100% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.1);
	}
}

main {
	display: grid;
	grid-gap: 4em;
	overflow: hidden;
}

header,
footer,
section {
	position: relative;
	width: 90vw;
	max-width: 1200px;
	margin: auto;
}

h1 {
	font-size: 4em;
	line-height: 1.1;
}

h2 {
	font-size: 3em;
	font-weight: 600;
	line-height: 1.1;
}

h3 {
	font-size: 2.5em;
	font-weight: 600;
	line-height: 1.1;
}

.upAndDown[style='opacity: 1; transform: translateY(0vh) translateZ(0px);'] {
	animation: upAndDown 2s ease-in-out alternate infinite;
}

@media screen and (max-width: calc(1200px + 10vw)) {
	body {
		font-size: 1.2vw;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 2vw;
	}

	h1 {
		font-size: 3em;
	}
}

@media screen and (max-width: 550px) {
	body {
		font-size: 2.3vw;
	}
}

@keyframes upAndDown {
	from {
		transform: translateY(0em);
	}
	to {
		transform: translateY(0.5em);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
