.header_nav {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1.25em;
	justify-content: start;
	align-items: center;

}

.navigation_button {
	position: relative;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.navigation_button::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0.1em;
	background-color: #fff;
	transition: width 0.3s;
}

.navigation_button:hover::after {
	width: 50%;
}

.navigation_button.active::after {
	width: 100%;
}
