.download_section > div {
	position: relative;
	background-color: var(--secondary);
	color: #fff;
	border-radius: var(--border-radius-regular);
	overflow: hidden;
	display: grid;
	grid-gap: 0.5em;
	font-size: 1.1em;
}

.download_section > div::before,
.download_section > div::after {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
}

.headline {
	line-height: 1;
}

.text {
	font-size: 1.1em;
}

@media screen and (min-width: 769px) {
	.download_section > div::before {
		background: url(/images/download-at-bg_top.png) 0 0 no-repeat;
		background-size: 100%;
	}

	.download_section > div::after {
		background: url(/images/download-at-bg_bottom.png) 0 100% no-repeat;
		background-size: 100%;
	}

	.download_section > div {
		padding: 10em 4em;
	}

	.buttons {
		margin-top: 4em;
	}

	.image {
		position: absolute;
		top: 1em;
		right: 6em;
		width: 19.5em;
		height: auto;
	}

	.image > img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.download_section > div::before {
		background: url(/images/download-at-bg_top-mobile.png) 0 0 no-repeat;
		background-size: 100%;
	}

	.download_section > div::after {
		background: url(/images/download-at-bg_bottom-mobile.png) 0 65% no-repeat;
		background-size: 100%;
	}

	.download_section > div {
		padding: 2em 3em;
	}

	.buttons {
		margin-top: 0.5em;
	}

	.image {
		width: auto;
		height: 30em;
		justify-self: center;
		margin-bottom: 2em;
	}

	.image > img {
		width: auto;
		height: 100%;
	}
}

@media screen and (max-width: 550px) {
	.download_section > div {
		font-size: 0.9em;
	}
}
