.headline {
    margin-bottom: 1em;
}

.feature_list {
    display: grid;
    grid-gap: 2em 1em;
    list-style-type: none;
}

.feature_inner {
    display: grid;
    height: 100%;
    grid-template-areas:
        'icon .'
        'icon title'
        'icon copy'
        'icon .';
    grid-template-columns: 5em 1fr;
    grid-template-rows: 1fr max-content max-content 1fr;
    grid-gap: 0.2em 1em;
    align-items: center;
    background-color: rgb(64, 123, 255, 0.35);
    border-radius: var(--border-radius-regular);
    overflow: hidden;
    padding: 2em;
}

.icon {
    width: 100%;
    height: auto;
    grid-area: icon;
}

.title {
    grid-area: title;
    font-size: 1.35em;
    font-weight: 700;
}

.title b {
    color: #9074c6;
    font-size: 1.4em;
    line-height: 1;
}

.copy {
    grid-area: copy;
}

.copy p {
    line-height: 1;
    margin: 0.5em 0;
}

@media screen and (min-width: 769px) {
    .feature_list {
        grid-template-columns: 1fr 0.5fr 1fr;
    }

    .feature:nth-child(1) {
        grid-column: 1/4;
        margin: auto;
    }

    .feature:nth-child(3) {
        grid-column: 2/4;
    }

    .feature:nth-child(4) {
        grid-column: 1/3;
    }

    .feature:nth-child(1) .feature_inner,
    .feature:nth-child(3) .feature_inner,
    .feature:nth-child(4) .feature_inner {
        background-color: #fff;
        border: 2px solid;
    }
}

@media screen and (max-width: 768px) {
    .feature {
        font-size: 1.3em;
    }

    .feature:nth-child(odd) .feature_inner {
        background-color: #fff;
        border: 2px solid;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
