.header {
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 6em 1fr max-content;
    grid-gap: 2em;
    align-items: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 1.3em;
    border-radius: var(--border-radius-regular);
    margin: auto;
    padding: 0.25em 1em;
    z-index: 9;
}

.header_btn {
    background-color: #fff;
    color: var(--primary);
    font-weight: 600;
    padding-inline: 3em;
    transition: background-color 0.3s, color 0.3s;
}

.header_btn:hover {
    background-color: var(--tertiary);
	color: var(--secondary);
}

@media screen and (max-width: 768px) {
    .header {
        grid-template-columns: 6em max-content;
        justify-content: space-between;
    }
}

@media screen and (max-width: 550px) {
    .header {
        font-size: 1.75em;
    }
}
