.header {
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 6em 1fr max-content;
    grid-gap: 2em;
    align-items: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 1.3em;
    border-radius: var(--border-radius-regular);
    margin: 2em auto 0;
    padding: 0.25em 1em;
    z-index: 9;
}

.header.show {
    position: fixed;
    top: 0;
    transform: translate(-50%, -100%);
    animation: showHeader .5s ease-out forwards;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

@keyframes showHeader {
    from {
        transform: translate(-50%, -100%);
    }
    to {
        transform: translate(-50%, 0);
    }
}

.header_btn {
    background-color: #fff;
    color: var(--primary);
    font-weight: 600;
    padding-inline: 3em;
    transition: background-color 0.3s, color 0.3s;
}

.header_btn:hover {
    background-color: var(--tertiary);
    color: var(--secondary);
}

@media screen and (max-width: 768px) {
    .header {
        grid-template-columns: 6em max-content;
        justify-content: space-between;
    }
}

@media screen and (max-width: 550px) {
    .header {
        font-size: 1.75em;
    }
}
